doctype 5
html(lang='en')
  head
    title toggl-report
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='/') toggl-report
    .container
      .row
        .span4.offset4
          h1 hi
